*{
    box-sizing: border-box;
}

.red-container{
    position: relative;
    display: inline-block;
}

.small-red-container{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
}

.timer{
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.health{
    background-color: yellow;
    height: 30px;
    width: 100%;
}

.health-container{
    position: relative;
    height: 30px;
    width: 100%;
}